@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  margin: 10px 80px;
  font-family: 'Noto Sans JP', sans-serif;
}
.articles{
  padding-top: 30px;
  margin-top: 30px;
}
.articles .article{
  display: flex;
  flex-wrap:wrap;
  margin-bottom: 30px;
}
.articles .article .left img{
  height: 300px;
  width: 500px;
}
.articles .article .right {
  margin-left: 40px;
  max-width: 50%;
}
.articles .article .right p.date{
  color: #7f7e7e;
}
.articles .article .right p.description{
  color: #2d2d2d;
}

button{
  display: none;
}

@media screen and (max-width: 991px){
  body{
    margin: 10px 20px;
  }
  nav .onglets{
    margin-top: -10px;
  }
  .articles .article .left img{
    height: 100%;
    width:100%;
  }
  .articles .article .right{
    margin: 0px;
    max-width: 100%;
  }
 
}