* {
    margin: 0;
    padding: 0;
}

header {
    background-position: center;
    color: #000;
    text-align: center;
    background: #1fb3bf;
    background: url('img/MicrosoftTeams-image.png');
    background-repeat: no-repeat;
    background-size: 16vh;
    background-position: center;
}

body {
    font-family: sans-serif;
}



header nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    color: #000;
}

header nav a {
    color: #18212b;
    text-decoration: none;
    margin-right: 50px;
}


header nav a:hover {
    color: #000;
    border-bottom: #919191 solid 1px;
}

header .principal {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header .principal h4 {
    margin-top: -20px;
    padding: 20px;
}

div{
    color: black;
}

.top-page {
    background: url("https://wallpaperaccess.com/full/3936113.jpg");
    height: 100vh;
}

a:link,
a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: purple;
}

nav {
    display: flex;
    align-items: center;

}

ul {
    display: flex;
    align-items: space-around;
}

li {
    list-style-type: none;
    padding: 6px;
    margin: 6px;
    font: 500 15px "Mochiy Pop One", sans-serif;
    font-weight: bolder;
    text-decoration: none;
}

header div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}

nav img {
    margin-left: 10%;
}

footer {
    background: black;
    color: white;
}

.idk {
    display: flex;
    align-items: space-around;
}

.navigation,
.info {
    margin-right: 460px;
}

.idk ul li {
    text-align: center;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    color: black;
    background-color: #00acee;
    min-width: 100px;
    border-radius: 30px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 7px 10px;
    text-align: center;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.item ul li {
    margin-right: 7px;

}

button {
    cursor: pointer;
}

.btn {
    display: block;
    outline: none;
    border: 0;
    font-size: 16px;
    line-height: 1;
    border-radius: 30px;
    background: #00acee;
    color: #ffffff;
    margin-right: 50px;

}

.btn:hover,
.btn:focus {
    background: cyan;
    transition: all 2s linear;
}

span {
    display: flex;
    font-size: 150%;
    justify-content: center;
    text-align: center;
}

.header-perso {
    display: flex;
    align-items: center;
    justify-content: center;

}

.perso-img img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-left: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pers-description {
    font-size: 30px;
    margin-left: 40px;
    color: black;
}

.pers-description button {
    color: white;
    background-color: #0095f6;
    border-radius: 3px;
}

#gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.collumn img {
    width: 160px;
    height: 160px;


}

.collumn img:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);

}

.gallery:hover {
    justify-content: center;
    align-items: center;

}
