* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button{
    display: none;
}

#gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    padding-top: 500px;
    background: url('img/MicrosoftTeams-image.png');
        height: 85vh;
        background-repeat: no-repeat;
        background-size: 90vh;
        background-position: center;
}

.collumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.collumn img {
    width: 300px;
    height: 300px;
    
    
    

}

.div .gallery:hover { 
    color: black;
}


.collumn img:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);

}

.gallery:hover {
    justify-content: center;
    align-items: center;

}

@media all and (max-width: 991px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    #gallery {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        padding-top: 150px;
    }

    .collumn img {
        width: 160px;
        height: 160px;


    }

    .collumn img:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -webkit-transform: scale(2);
        -moz-transform: scale(2);
        -ms-transform: scale(2);
        -o-transform: scale(2);
        transform: scale(2);

    }

    .gallery:hover {
        justify-content: center;
        align-items: center;

    }

}
