

html {
    font-size: 16px;
}

body {
    font-family: sans-serif;
}

header {
    position: absolute;
    width: 100%;
    height: 8vh;
    top: 0;
    left: 0;
    background: #1fb3bf;
    color: #fff;
    padding: 0 2rem;

}

nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 2rem;
}

.toggle {
    display: none;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 550px;
}

.menu li a {
    color: #fff;
    text-decoration: none;
}



/* Section partenaire */
.menu li:hover .htmlcss-arrow{
  transform: rotate(180deg);
  }

.menu li .arrow{
    /* background: red; */
    height: 100%;
    width: 22px;
    line-height: 70px;
    text-align: center;
    display: inline-block;
    color: #fff;
    transition: all 0.3s ease;
  }
.menu li .sub-menu{
    position: absolute;
    top: 100%;
    right: 1.9%;
    width: 8%;
    line-height: 40px;
    background: #1fb3bf     ;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 4px 4px;
    display: none;
    z-index: 2;
  }
.menu li:hover .htmlCss-sub-menu{
    display: block;
  }
.menu li .sub-menu li{
    padding: 0 22px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
  }
.menu li .sub-menu a{
    color: #fff;
    font-size: 15px;
    font-weight: 500;
  }

@media all and (max-width: 991px) {
    header {
        background: transparent;
    }

    .toggle {
        display: block;
        font-size: 2rem;
        cursor: pointer;
        position: relative;
        z-index: 20;
    }

    .logo {
        position: relative;
        z-index: 20;
    }

    .ouvrir {
        display: block;
    }

    .fermer {
        display: none;
    }

    .open .ouvrir {
        display: none;
    }

    .open .fermer {
        display: block;
    }

    .menu {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 150vh;
        background: #000;
        flex-direction: column;
        padding: 2rem;
        justify-content: space-around;
        transform: translateX(-100%);
        transition: transform 1s;
    }

    .menu li a {
        font-size: 2rem;
    }

    .btn {
        font-size: 2rem;
    }

    .open .menu {
        transform: translateX(0);
    }
/** section partenaire*/
.menu li .arrow{
    display: inline-block;
}

.menu li{
    display: block;
    white-space: nowrap;
    height: 60px;
  }
.menu li .sub-menu{
    position: relative;
    width: 200px;
    top: 0;
    left: 7%;
    box-shadow: none;
    display: none;
}
.menu li .sub-menu li{
  border-bottom: none;
  font-size: 25px;
  width: 200px;
}

.menu li .sub-menu a{
    font-size: 20px;
}
.menu li:hover .htmlcss-arrow{
  transform: rotate(0deg);
  }  
.menu li:hover .htmlCss-sub-menu{
    display: none;
  }
.nav.show1 .menu .htmlCss-sub-menu{
      display: block;
      background-color: #000;
      
    }
.nav.show1 .menu .htmlcss-arrow {
        transform: rotate(180deg);
}  
}

div{
    color: #128d5a;
}


  
