
html {
    font-size: 16px;
}

body {
    font-family: sans-serif;
}

header {
    position: absolute;
    width: 100%;
    height: 8vh;
    top: 0;
    left: 0;
    background: #1fb3bf;
    color: #fff;
    padding: 0 2rem;

}

nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 2rem;
}

.toggle {
    display: none;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 550px;
}

.menu li a {
    color: #fff;
    text-decoration: none;
}

.btn {
    border: 0;
    background: #128d5a;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 20px;
}

.btn.btn-secondary {
    background: transparent;
    border: 2px solid #128d5a;
    color: #fff;
}

/* Section Hero */


@media all and (max-width: 991px) {

    header {
        background: transparent;
    }

    .toggle {
        display: block;
        font-size: 2rem;
        cursor: pointer;
        position: relative;
        z-index: 20;
    }

    .logo {
        position: relative;
        z-index: 20;
    }

    .ouvrir {
        display: block;
    }

    .fermer {
        display: none;
    }

    .open .ouvrir {
        display: none;
    }

    .open .fermer {
        display: block;
    }

    .menu {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: #000;
        flex-direction: column;
        padding: 2rem;
        justify-content: space-around;
        transform: translateX(-100%);
        transition: transform 1s;
    }

    .menu li a {
        font-size: 2rem;
    }

    .btn {
        font-size: 2rem;
    }

    .open .menu {
        transform: translateX(0);
    }
    
}

div{
    color: #128d5a;
}