@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

html {
    font-size: 16px;
}

body {
    font-family: sans-serif;
}

.premieres-presentations {
    background-color: #222f3e;
    color: #fff;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
}

.premieres-presentations .gauche {
    width: 60%;
    margin-right: 10px;

}

.premieres-presentations .droite {
    content: url("img/MicrosoftTeams-image.png");
    width: 300px;
    text-align: center;
    margin-left: 10%;
}


.offres {
    padding: 30px;
    background: url('img/index.jpeg');
    background-position: center;
    color: #fff;
}

.offres h1,
.offres p {
    text-align: center;
}

.offres .offres-cartes {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.offres .carte {
    background-color: #fff;
    color: #000;
    padding: 20px;
    margin-right: 30px;
    margin-bottom: 20px;
}

.offres .carte img {
    height: 60px;
}

/* Section Hero */
.hero {
    height: 85vh;
    background: url('img/logo-full.png');
    background-repeat: no-repeat;
    background-size: 90vh;
    background-position: center;
}

@media all and (max-width: 991px) {
  .hero {
    height: 40vh;
    background: url('img/logo-full.png');
    background-repeat: no-repeat;
    background-size: 45vh;
    background-position: center;
  }

    .premieres-presentations {
        background-color: #222f3e;
        color: #fff;
        display: flex;
        justify-content: center;
    }

    .premieres-presentations .gauche {
        width: 100%;
        text-align  : center;


    }

    .premieres-presentations .droite {
        content: url("img/MicrosoftTeams-image.png");
        width: 300px;
        margin-right: 30px;

       
    }
}




