section#contact {
    background-color: #f9f9fb;
    padding: 100px 0;
}

section#contact .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-sizing: border-box;
    padding: 30px 10px;
    border-radius: 15px;
    box-shadow: 0px 10px 50px -10px #d6d6d6;
}

section#contact .title {
    text-align: center;
    color: #2a2a2a;
    margin-bottom: 50px;
}

section#contact .title h6 {
    font-size: 1em;
}

section#contact .title h3 {
    font-size: 2.2em;
}

section#contact .container form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 600px;
}

section#contact .container form input {
    width: 47%;
    
}

section#contact .container form input:hover,
section#contact .container form textarea:hover {
    border-bottom: 2px solid #1fb3fb;
}

section#contact .container form input,
section#contact .container form textarea {
    margin: 10px 0;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    outline: none;
    border-bottom: 2px solid #e4e4ec;
    transition: 0.2s;
}

section#contact .container form textarea {
    width: 100%;
    resize: none;
    height: 100px;
    margin-bottom: 60px;
}

section#contact .container form button {
    width: 192px;
    height: 50px;
    border-radius: 8px;
    border: none;
    background-color: #1fb3bf;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    cursor: pointer;
    outline: none;
    margin: 0 auto;
}
